body {
    background-image: url("./../img/back.png");
    color: white;
}
header, footer {
    background-color: black;
    padding: 5px;
}
#banner {
    display: inline-block;
    min-height: 1px;
    width: 18%;
}
#banner img {
    width: 60px;
    height: 60px;
}
#nav {
    line-height: 1.4rem;
    display: inline-block;
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: 'Cookie', cursive;
}
#nav2 {
    line-height: 1.4rem;
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Cookie', cursive;
}
#nav a {
    padding-left: 10px;
    color: white;
    text-decoration: underline;
}
#nav2 a {
    padding-left: 10px;
    color: white;
    text-decoration: underline;
}
#nav a:hover {
    color: #FFD77F;
}
#number {
    display: inline-block;
    width: 18%;
}

#slider {
    background-color: black;
    height: 200px;
}

#left {
    margin-left: 3%;
    height: 100%;
    display: inline-block;
    width: 50%;
}
#right {
    height: 100%;
    display: inline-block;
    width: 45%;
}
#right img {
    height: 180px;
    width: 100%;
}
#order {
    padding: 4px;
    border-color: #7FD7FF;
    color: #7FD7FF;
    background-color: black;
    border-radius: 0;
    border-style: solid;
}
#reserve {
    padding: 4px;
    border-color: #FFD77F;
    color: #FFD77F;
    background-color: #936c02;
    border-radius: 0;
    border-style: solid;
}
#order:hover {
    color: #333333;
    border-color: #333333;
}
#reserve:hover {
    color: #333333;
    border-color: #333333;
}

.element {
    position: relative;
    border: 3px black solid;
    display: inline-block;
    background-color: gray;
    width: 30%;
    margin: 1%;
    height: 150px;
    background-size: 100% auto;
    text-align: center;
}
.element p {
    position: absolute;
    bottom: 0;
    right: 10px;
}
#obr1 {
    background-image: url("./../img/obr1.png");
}
#obr2 {
    background-image: url("./../img/obr2.png");
}
#obr3 {
    background-image: url("./../img/obr3.png");
}

#menu {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.item {
    display: inline-block;
    width: 20%;
    margin: 2%;
    min-height: 10px;
    text-align: center;
}
.item img {
    width: 90%;
}